@import url('fonts/audiowide/Audiowide.css');
@import url('fonts/roboto/Roboto.css');
*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .7);
}

body {
    background-color: #f1e4e4;
    display: flex;  
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: 'Audiowide', cursive;
    letter-spacing: 2px;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2 span {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
    display: block;
    text-transform: uppercase;
    color: #666;
}

.board {
    display: grid;
    width: 100vw;
    /* height: 100vh; */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid #f1e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    cursor: pointer;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child, .cell:nth-child(7), .cell:nth-child(8) {
    border-bottom: none;
}

.cell.x::after, .cell.x::before, .xTurn .cell:hover:not(.x):not(.circle)::after, .xTurn .cell:hover:not(.x):not(.circle)::before {
    position: absolute;
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
}

.xTurn .cell:hover:not(.x):not(.circle)::before, .cell.x::before {
    transform: rotate(45deg);
}

.xTurn .cell:hover:not(.x):not(.circle)::after, .cell.x::after {
    transform: rotate(-45deg);
}

.xTurn .cell:hover:not(.x):not(.circle)::after, .xTurn .cell:hover:not(.x):not(.circle)::before {
    background-color: rgb(233, 233, 233);
}

.cell.circle::after, .cell.circle::before, .circleTurn .cell:hover:not(.x):not(.circle)::after, .circleTurn .cell:hover:not(.x):not(.circle)::before {
    position: absolute;
    content: '';
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: black;
    border-radius: 50%;
}

.circleTurn .cell:hover:not(.x):not(.circle)::after, .cell.circle::after {
    width: calc(var(--mark-size)* .7);
    height: calc(var(--mark-size)* .7);
    background-color: white;
}

.circleTurn .cell:hover:not(.x):not(.circle)::before {
    background-color: rgb(233, 233, 233);
}

.winning-message {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.winning-message h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.winning-message button {
    padding: 0.9rem 2rem 0.8rem 2rem;
    font-size: 2rem;
    margin-top: 1rem;
    border-radius: 10rem;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Audiowide', cursive;
    background-color: #f1e4e4;
    color: #af2626;
}

.winning-message.show {
    display: flex;
}

.note{
    max-width: 300px;
    letter-spacing: 0px;
    line-height: 25px;
    margin-top: 2rem;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.note span {
    margin-bottom: 0.5rem;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
}